@{
    ViewBag.Title = "View classroom";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_StudentLayout.cshtml";
}
@using StudentDashboard.Models.Student;
@model StudentClassroomHomeDetails
<style type="text/css">
    .classroom-background-container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .classroom-background-image {
        max-height: 300px;
        height: 300px;
        z-index: -1;
    }

    .classroom-background-mask {
        width: 100%;
        border: 10px;
        z-index: 10;
        background: rgb(3,0,237);
        background: linear-gradient(360deg, rgba(3,0,237,0.969625350140056) 5%, rgba(11,33,196,0.7063200280112045) 77%);
        backdrop-filter: blur(8px);
        padding: 20px;
        margin-top: 140px;
        margin-bottom: 20px;
        color: #f8f9fccc !important;
        border-radius: 8px;
    }

    .classroom-background {
        padding-top: 10px;
        align-items: center;
        overflow-y: no-display;
        background: #f8f8f8;
        margin-bottom: 10px;
        text-align: center;
        border: 3px solid #eee;
        box-shadow: 2px;
        border-radius: 8px;
    }

        .classroom-background:hover {
            border: 2px solid red;
        }

    .upload-icon {
        font-size: 72px;
        align-items: center;
    }

    .ui-input-container {
        background-color: #fff;
        border-radius: 4px;
    }

    .ui-form-input-container {
        position: relative;
        font-size: 1rem;
        margin-bottom: 15px;
        display: block;
    }

    .ui-input-container h2 {
        font-family: sans-serif;
        margin-bottom: 20px;
        font-weight: 700;
        text-transform: capitalize;
    }

   .ui-form-input {
  padding: 13px 15px;
  border-radius: 8px;
  border: 2px solid #1a73e8;
  outline: 0;
  width: 100%;
  max-height:200px;
 
}
.ui-form-chat {
  padding: 13px 15px;
  margin-bottom:0px;
  border-radius: 8px;
  border: 2px solid #1a73e8;
  outline: 0;
  width: 70%;
  float:right;
}

  .ui-form-chat-instructor {
        padding: 13px 8px;
        margin-bottom: 0px;
        border-radius: 8px;
        background-color: #757575;
        color: #fafafa;
        outline: 0;
        width: 70%;
        float: left;
    }
.time_date {
    margin-top:5px;
    margin-bottom:10px;
    color: #747474;
    display: block;
    font-size: 12px;
    width: 70%;
    float:right;
}
.time_date_instructor {
    margin-top:5px;
    margin-bottom:10px;
    color: #747474;
    display: block;
    font-size: 12px;
    width: 70%;
    float:left;
}
       .ui-input-container-message {
  background-color: #fff;
  border-radius: 4px;
  max-height:300px;
 overflow-y:scroll;
}

.messge-sender {
    margin-top:5px;
    margin-bottom:10px;
    color: rgba(3,0,237,0.969625350140056);
    display: block;
    font-size: 18px;
    width: 70%;
    float:left;
}
    #zmmtg-root {
        background-color: aquamarine;
    }

 .classroom-nav li a:hover {
        border-bottom: 3px solid red;
    }

    .classroom-nav li a:active {
        border-bottom: 3px solid red;
    }

    .classroom-nav li a.active {
        border-bottom: 3px solid red;
    }

    .classroom-nav a.active {
        border-bottom: 3px solid red;
    }

    .classroom-nav li a active {
        border-bottom: 3px solid red;
    }
    .classroom-assignemnts
    {
        width:100%;
        border:10px;
background: rgb(58,180,60);
background: linear-gradient(90deg, rgba(58,180,60,1) 26%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);
        padding:3px;
        margin-top:10px;
        margin-bottom:10px;
        color:#f8f9fccc !important;
        border-radius: 8px; 
    }
    .classroom-assignemnts-submitted
    {
        width:100%;
        border:10px;
background: rgb(58,180,60);
background: linear-gradient(130deg, rgba(58,180,60,1) 26%, rgba(226,210,210,1) 100%, rgba(252,176,69,1) 100%);
        padding:3px;
        margin-top:10px;
        margin-bottom:10px;
        color:#f8f9fccc !important;
        border-radius: 8px; 
    }

     @@media only screen and (max-width: 600px) {
        .container-classroom-section {
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }
</style>
<div class="course-demo-card container-fluid container-classroom-section ">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">View classroom</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" onclick="callHome()">Home</a></li>
                <li class="breadcrumb-item"><a href="#" onclick="callMyClassrooms()">Classrooms</a></li>
                <li class="breadcrumb-item active" aria-current="page" id="currentBreadCumb"></li>
                @*<li class="breadcrumb-item active" >Data</li>*@
            </ol>
        </nav>
    </div>

    <div class="col-lg-12" >
        <nav class="navbar navbar-expand-lg  navbar-light font-weight-bold">
            @*<a class="navbar-brand" href="#">@Model.m_strClassRoomName</a>*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto classroom-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#navHome" onclick="showHomeDetails()">Home <span class="sr-only">(current)</span></a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link" href="#navPreviousMeetings" onclick="showTeachingSessions()">Teaching Sessions <span class="sr-only">(current)</span></a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="#navMessagesContainer" onclick="showClassroomMessages()">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#navClassroomAttachments" onclick="getAllClassroomAttachments()">Study Materials</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Assignments
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#navPractiveNewAssignment" onclick="viewAllClassroomAssignment()">Practice new assignment</a>
                            <a class="dropdown-item" href="#navAllAssignmentSubmissions" onclick="viewAllClassroomAssignmentSubmissions()">View all submissions</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tests
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#navAllClassroomTests"  onclick="viewAllClassroomTest()">Give new test</a>
                            <a class="dropdown-item" href="#navAllClassroomTestSubmissions" onclick="viewAllClassroomTestSubmissions()">View all submissions</a>
                        </div>
                    </li>
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" onclick="callHome()">Exit classroom</a>
                        </div>
                    </li>
                </ul>
                @*<form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>*@
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4" id="classroomHomeDetails">
            <div class="card shadow mb-4 border-bottom-success ">
              
                <div class="card-body classroom-background-container" style="background-image:url(../../Images/course-3.jpg)" id="backgroundUrl">
                    <div class="classroom-background-mask">
                        <h1 class="card-text font-weight-bold text-gray-100 " id="classroomName"></h1>

                        <h6 class="mb-0 font-weight-bold" id="classroomDescription"></h6>


                        <span class="badge badge-pill badge-light" id="classroomCreationDate"></span>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row" id="classroomContaintProgressDetails">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-1">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Teaching sessions joined</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.m_iNoOfMeetingJoined</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-play-circle fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Assignment submitted</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.m_iNoOfAssignmentSubmitted</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-pen fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Test submitted</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.m_iNoOfTestSubmitted</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-pen fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Pending Requests Card Example
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Students joined</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>

    <div class="col-lg-12 mb-2" id="classroomMeetingStartSection">
        <div class="card shadow-lg border-primary">
            <div class="card-body">
                <div class="add-items-container p-3 text-center ">
                    <div class="control-buttons">
                        @*<button class="btn btn-circle bg-primary text-white" onclick="requestUploadVideo()" data-toggle="tooltip" data-placement="top" title="Upload video"><span><i class="fa fa-file"></i></span></button>*@
                        @*<button class="btn btn-circle bg-primary text-white" onclick="callAddNewAssignment()" data-toggle="tooltip" data-placement="top" title="Add assignment"><i class="fa fa-pen"></i></button>
                            <button class="btn btn-circle bg-primary text-white" data-toggle="tooltip" data-placement="top" title="Add test"><span><i class="fa fa-clipboard-list" ></i></span></button>*@
                        <h2 id="isMeetingActive"></h2>
                        <a  class="btn  bg-primary text-white" id="meetingJoinLink" href="./JoinClassroomMeeting?ClassroomId=@ViewBag.Id" data-toggle="tooltip" data-placement="top" title="Start live" onclick="callClassroomMeeting()"><span><i class="fa fa-play-circle"></i></span> Join live class</a>
                        @*<a class="btn  bg-primary text-white" id="meetingJoinLink" href="./JoinClassroomMeeting?ClassroomId=@ViewBag.Id" data-toggle="tooltip" data-placement="top" title="Start live"><span><i class="fa fa-play-circle"></i></span> Join live class using app</a>*@
                    </div>
                </div>
            </div>
            <div id="secctionTest"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-2" id="navMessagesContainer" style="display:none">
            <div class="card shadow-lg border-primary">
                <div class="card-header">Messages</div>
                <div class="card-body">

                    <div class="ui-input-container-message " id="messagesContainer">
                        <div class="question" id="questionContainer">
                        </div>
                    </div>
                    <div class="add-items-container p-3">
                        <div class="ui-input-container">

                            <label class="ui-form-input-container">
                                <textarea class="ui-form-input" id="classroomMessage" placeholder="Message"></textarea>
                            </label>
                            <button type="button" onclick="callSubmitMessage(this)" class="btn btn-primary btn-sm">submit</button>
                        </div>
                    </div>
                </div>
                <div id="secctionTest"></div>
            </div>
        </div>
        <div class="col-lg-12 mb-2" id="navTeachingSessionsContainer" style="display:none">
            <div class="card shadow-lg border-primary">
                <div class="card-header">View all teaching sessions</div>
                <div class="card-body">

                </div>
                <div id="secctionTest"></div>
            </div>
        </div>
        <div class="col-lg-12 mb-2" id="navPractiveNewAssignment" style="display:none">
            <div class="card shadow-lg border-primary">
                <div class="card-header">Practic new assignment</div>
                <div class="card-body">
                    <div id="spinnerAllAssignment" class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div id="allClassroomAssignmentContainer"></div>
                  
                    <div id="footerPracticeNewAssignment" style="display:none">
                        <h6 class="card-title"> No assignments found</h6>
                    </div>
                </div>  
            </div>
        </div>
        <div class="col-lg-12 mb-2" id="navAllAssignmentSubmissions" style="display:none">
            <div class="card shadow-lg border-primary">
                <div class="card-header">View assignment submissions</div>
                <div class="card-body">
                    <div id="spinnerAllSubmittedAssignment" class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div id="allClassroomAssignmentSubmissionsContainer"></div>
                    
                    <div id="footerAllAssignmentSubmissions" style="display:none">
                        <h6 class="card-title"> No records found</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-2" id="navAllClassroomTests" style="display:none">
            <div class="card shadow-lg border-primary">
                <div class="card-header">Give new test</div>
                <div class="card-body">
                    <div id="spinnerAllTest" class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div id="allClassroomTestContainer"></div>
                    
                    <div id="footerAllTests" style="display:none">
                        <h6 class="card-title"> No test found</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-2" id="navClassroomAttachments" style="display:none">
            <div class="card shadow-lg border-primary">
                <div class="card-header">View all study materials</div>

                <div class="card-body">

                    <div class="table-responsive ">
                        <table id="tableClassroomAttachments" class="table-responsive table-hover" style="display:none">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="p-2">S. No.</th>
                                    <th class="p-2">Attachment Name</th>
                                    <th class="p-2">Addition Date</th>
                                    <th class="p-2">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="tableBodyClassroomAttachments"></tbody>
                        </table>

                    </div>
                    <div id="spinnerClassroomAttachments" class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="card-body" id="footerAllStudyMaterials" style="display:none">
                        <h6 class="card-title"> No study materials found</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-2" id="navAllClassroomTestSubmissions" style="display:none">
            <div class="card shadow-lg border-primary">
                <div class="card-header">View test submissions</div>
                <div class="card-body">
                    <div id="spinnerAllTestSubmissions" class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div id="allClassroomTestSubmissionsContainer"></div>

                    <div id="footerAllTestSubmissions" style="display:none">
                        <h6 class="card-title"> No test submission found</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   

<div class="modal fade border-success" id="successModal" tabindex="-1" role="dialog" aria-labelledby="infomodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="card border-success modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoTitle">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 id="infoMessageSuccess">Classroom joined successfully</h3>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary" data-dismiss="modal" href="./MyCourses">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="modalIndexCreatedTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="card border-danger modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalIndexCreatedTitle">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-danger">
                <h3 id="infoMessageFail">Classroom could not be joined</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function () {
        'use strict';
        onpageshow = init();
    })();
    function getAboutCourse() {
        $("#courseBody").html(aboutCourseDetails);
    }
    var aboutCourseDetails;
    function showSpinner() {
        $("#spinner").show();
    }
    function hideSpinner() {
        $("#spinner").fadeOut();
    }
    //----------------Index Section-------------------------------------

    var indexDetails = [];
    var courseId = 0;
    var classroomMeetingName;
    //-----------------------Course section start----------------------
    function init() {
        debugger

        $.ajax({
            headers: { "Authorization": 'Bearer ' + localStorage.getItem('jwttoken') },
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/api/v1/Course/GetClasroomDetails?id=".concat("@ViewBag.Id"),
            success: function (data) {
                debugger;
                if (data != null && data.response_code == 1) {
                    var classroomDetails = data.classroom_details;
                    $("#currentBreadCumb").text(classroomDetails.classroom_name);
                    $("#classroomName").text(classroomDetails.classroom_name);
                    $("#classroomDescription").text(classroomDetails.classroom_description);
                    if (classroomDetails.is_meeting_active) {
                        $("#isMeetingActive").text("Live class started");
                    }
                    else {
                        $("#isMeetingActive").text("Live class is currently closed");
                    }
                    if (classroomDetails.background_url != null && classroomDetails.background_url != "")
                    {
                        $('#backgroundUrl').css('background-image', 'url(' + classroomDetails.background_url + ')');
                    }
                    $("#classroomCreationDate").text("Joining date:" + classroomDetails.creation_date);
                    classroomMeetingName = classroomDetails.classroom_meeting_name;
                    hideSpinner();
                }
                hideSpinner();
            }
        });
    }
    function joinClassroom() {
        debugger;
        $.ajax({
            headers: { "Authorization": 'Bearer ' + localStorage.getItem('jwttoken') },
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/api/v1/Course/JoinClassroom?id=".concat("@ViewBag.id"),
            success: function (data) {
                debugger;
                if (data != null && data.response_code == 1) {
                    $("#successModal").modal('show');
                    $("#enrollNowButton").remove();
                    $("#successbadge").show();
                    $("#goToCourse").show();
                }
                else {
                    $("#failModal").modal('show');
                    $("#infoMessageFail").test('Course could not be joined');
                }
            }
        });

    }
    function callSubmitMessage(buttonid) {
        debugger
        syncFlag = true;
        var post = $("#classroomMessage").val();
        if (post == "") { return; }
        $(buttonid).append('<i class="fa fa-spinner fa-spin" id="tempspinner"></i>');
        $(buttonid).disabled = true;
        if (true) {
            var _data =
            {
                "message": post,
                "classroom_id": "@ViewBag.Id"
            }
            $.ajax({
                headers: { "Authorization": 'Bearer ' + localStorage.getItem('jwttoken') },
                type: "POST",
                data: JSON.stringify(_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/api/v1/Course/InsertNewMessageToClassroom",
                success: function (data) {
                    debugger;
                    if (data != null && data.response_code == 1) {
                        $("#classroomMessage").val("")
                        getAllMessagesAsync();
                    }
                    else {
                        $("#errorModal").modal("show");
                    }
                    $(buttonid).disabled = false;
                    $(buttonid).find(":first-child").remove();
                    syncFlag = false;
                },
                error: function (data) {
                    $("errorModal").modal("show");
                    $(buttonid).disabled = false;
                    $(buttonid).find(":first-child").remove();
                }
            });
        }
        else {
            $(buttonid).disabled = false;
            $(buttonid).find(":first-child").remove();
        }
    }
    function getAllMessages() {
        $.ajax({
            headers: { "Authorization": 'Bearer ' + localStorage.getItem('jwttoken') },
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/api/v1/Course/GetAllClassroomMessage?ClassroomId=@ViewBag.Id",
            success: function (data) {
                debugger;
                //stopCourseSpinner();
                if (data != null && data.response_code == 1) {
                    $("#questionContainer").empty();
                    var currentSessionLastMessageId = -1;
                    for (var i = 0; i < data.message_details.length; i++) {
                        currentSessionLastMessageId = data.message_details[i].message_id;
                        if (data.message_details[i].is_me == false) {
                            var row = ' <div class="container-fluid">'
                                + '<p class="messge-sender"><spna><i class="fa fa-user mr-2"></i></span>' + data.message_details[i].sender_name + '</p>'
                                          + '<p class="ui-form-chat-instructor">' + data.message_details[i].message + '</p>'
                                          + '<p class="time_date_instructor">' + data.message_details[i].message_creation_time + '</p>'
                                      + '</div>';
                        }
                        else {
                            var row = ' <div class="container-fluid">'

                                          + '<p class="ui-form-chat">' + data.message_details[i].message + '</p>'
                                          + '<p class="time_date">' + data.message_details[i].message_creation_time + '</p>'
                                      + '</div>';
                        }
                        $("#questionContainer").append(row);
                        $("#messagesContainer").scrollTop($("#messagesContainer")[0].scrollHeight);
                        if (currentSessionLastMessageId != -1) {
                            lastMessageId = currentSessionLastMessageId;
                        }
                    }
                }
            }
        });
    }
    var messageInerval;
    var lastMessageId = -1;
    var syncFlag = false;
    function runTimer() {
        messageInerval = setInterval(getAllMessagesAsync, 1000);
    }
    function getAllMessagesAsync() {
        if (lastMessageId == -1 || syncFlag) {
            return;
        }
        $.ajax({
            headers: { "Authorization": 'Bearer ' + localStorage.getItem('jwttoken') },
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/api/v1/Course/GetAllClassroomMessageAfterLast?ClassroomId=@ViewBag.Id&LastMessageId=".concat(lastMessageId),
            success: function (data) {

                if (data != null && data.response_code == 1) {

                    for (var i = 0; i < data.message_details.length; i++) {
                        lastMessageId = data.message_details[i].message_id;
                        if (data.message_details[i].is_me == false) {
                            var row = ' <div class="container-fluid">'
                                + '<p class="messge-sender"><spna><i class="fa fa-user mr-2"></i></span>' + data.message_details[i].sender_name + '</p>'
                                          + '<p class="ui-form-chat-instructor">' + data.message_details[i].message + '</p>'
                                          + '<p class="time_date_instructor">' + data.message_details[i].message_creation_time + '</p>'
                                      + '</div>';
                        }
                        else {
                            var row = ' <div class="container-fluid">'

                                          + '<p class="ui-form-chat">' + data.message_details[i].message + '</p>'
                                          + '<p class="time_date">' + data.message_details[i].message_creation_time + '</p>'
                                      + '</div>';
                        }
                        $("#questionContainer").append(row);
                        $("#messagesContainer").scrollTop($("#messagesContainer")[0].scrollHeight);
                    }
                }
            }
        });
    }
    function hideAllClssroomDetails()
    {
        clearInterval(messageInerval);
        $(".nav-link").removeClass("active");
        $("#classroomHomeDetails").hide();
        $("#classroomContaintProgressDetails").hide();
        $("#classroomMeetingStartSection").hide();
        $("#navMessagesContainer").hide();
        $("#navTeachingSessionsContainer").hide();
        $("#navAllAssignments").hide();
        $("#navAllAssignmentSubmissions").hide();
        $("#navPractiveNewAssignment").hide();
        $("#navAllClassroomTests").hide();
        $("#navAllClassroomTestSubmissions").hide();
        $("#navClassroomAttachments").hide();

    }
    function showClassroomMessages()
    {
        hideAllClssroomDetails();
        $("#navMessagesContainer").show();
        getAllMessages();
        runTimer();
    }
    function showTeachingSessions()
    {
        hideAllClssroomDetails();
        $("#navTeachingSessionsContainer").show();
    }
    function showHomeDetails()
    {
        hideAllClssroomDetails();
        $("#classroomHomeDetails").show();
        $("#classroomContaintProgressDetails").show();
        $("#classroomMeetingStartSection").show();
    }
    function viewAllClassroomAssignmentSubmissions()
    {
        $("#footerAllAssignmentSubmissions").hide();
        hideAllClssroomDetails();
        $("#navAllAssignmentSubmissions").show();
        $.ajax({
            headers: { "Authorization": 'Bearer ' + localStorage.getItem('jwttoken') },
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/api/v1/Course/GetAllClassroomSubmittedAssignment?ClassroomId=@ViewBag.Id",
            success: function (data) {
                if (data != null && data.response_code == 1) {
                    var row = '';
                    var assignments = data.assignment_details;
                    $("#allClassroomAssignmentSubmissionsContainer").empty();
                    if (assignments != null && assignments.length > 0) {
                        for (var i = 0; i < assignments.length; i++) {
                            row = '<div class="card-body shadow classroom-assignemnts-submitted p-2">' +
                            '<h4 class="text-white font-weight-bold p2"><span ><i class="fa fa-pen"></i></span> ' + assignments[i].assignment_name + '</h4>' +
                            '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-calendar"></i></span> Submitted On: ' + assignments[i].submission_date + '</h6>' +
                            '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-info-circle"></i></span> No Of questions:' + assignments[i].no_of_questions +'</h6>';
                            row += '<h6 class="ml-4"><span class="badge badge-pill badge-light ml-10" id="successbadge">Score: ' + assignments[i].score + '%</span><a class="btn btn-sm btn-outline-light ml-2" href="AssignmentResponse?id=' + assignments[i].submission_id + '">View response</a></h6>';

                            row += '</div>';
                            $("#allClassroomAssignmentSubmissionsContainer").append(row);
                        }

                    } else {
                        $("#footerAllAssignmentSubmissions").show();
                    }
                }
                $("#spinnerAllSubmittedAssignment").remove();

            }
        });
    }

    function viewAllClassroomAssignment()
    {
        hideAllClssroomDetails();
        $("#navPractiveNewAssignment").show();
        $("#footerPracticeNewAssignment").hide();
        $.ajax({
            headers: { "Authorization": 'Bearer ' + localStorage.getItem('jwttoken') },
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/api/v1/Course/GetAllClassroomAssignment?ClassroomId=@ViewBag.Id",
            success: function (data) {

                if (data != null && data.response_code == 1) {
                    var row = '';
                    var assignments = data.assignment_details;
                    $("#allClassroomAssignmentContainer").empty();
                    if (assignments != null && assignments.length>0){
                        for (var i = 0; i < assignments.length; i++) {

                            if (assignments[i].is_submitted == false) {
                                row = '<div class="card-body shadow classroom-assignemnts p-2">' +
                           '<h4 class="text-white font-weight-bold p2"><span ><i class="fa fa-pen"></i></span> ' + assignments[i].assignment_name + '</h4>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-calendar"></i></span> Added On: ' + assignments[i].creation_date + '</h6>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-info-circle"></i></span> No Of questions:' + assignments[i].no_of_questions + ' | Assignemt type: ' + assignments[i].assignment_type + '</h6>';
                                row += '<h6 class="ml-4"><span class="badge badge-pill badge-light ml-10" id="successbadge">Status: un attempted</span><a class="ml-2 btn btn-sm btn-outline-light" href="GiveAssignment?access_code=' + assignments[i].access_code + '&id=' + assignments[i].assignment_id + '">Practice Now</a></h6>';
                            }
                            else
                            {
                                row = '<div class="card-body shadow classroom-assignemnts-submitted p-2">' +
                           '<h4 class="text-white font-weight-bold p2"><span ><i class="fa fa-check-circle"></i></span> ' + assignments[i].assignment_name + '</h4>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-calendar"></i></span> Added On: ' + assignments[i].creation_date + '</h6>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-info-circle"></i></span> No Of questions:' + assignments[i].no_of_questions + ' | Assignemt type: ' + assignments[i].assignment_type + '</h6>';
                                row += '<h6 class="ml-4"><span class="badge badge-pill badge-light ml-10" id="successbadge">Status: attempted</span><a class="btn btn-sm btn-outline-light ml-2" href="AssignmentResponse?id=' + assignments[i].submission_id + '">View response</a></h6>';
                            }
                            row += '</div>';
                            $("#allClassroomAssignmentContainer").append(row);
                        }

                    } else {
                        $("#footerPracticeNewAssignment").show();
                    }
                }
                $("#spinnerAllAssignment").remove();

            }
        });
    }
    function viewAllClassroomTest() {
        hideAllClssroomDetails();
        $("#navAllClassroomTests").show();
        $.ajax({
            headers: { "Authorization": 'Bearer ' + localStorage.getItem('jwttoken') },
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/api/v1/Course/GetAllClassroomTest?ClassroomId=@ViewBag.Id",
            success: function (data) {
                if (data != null && data.response_code == 1) {
                    var row = '';
                    var tests = data.test_details;
                    $("#allClassroomAssignmentContainer").empty();
                    if (tests != null && tests.length > 0) {
                        for (var i = 0; i < tests.length; i++) {
                            if (tests[i].is_submitted == false) {
                                row = '<div class="card-body shadow classroom-assignemnts p-2">' +
                           '<h4 class="text-white font-weight-bold p2"><span ><i class="fa fa-pen"></i></span> ' + tests[i].test_name + '</h4>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-calendar"></i></span> Added On: ' + tests[i].creation_date + '</h6>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-info-circle"></i></span> No Of questions:' + tests[i].no_of_questions + ' | Test type: ' + tests[i].test_type + '</h6>';
                                row += '<h6 class="ml-4"><span class="badge badge-pill badge-light ml-10" id="successbadge">Status: un attempted</span><a class="ml-2 btn btn-sm btn-outline-light" href="StartTest?access_code=' + tests[i].access_code + '&id=' + tests[i].test_id + '">Practice Now</a></h6>';
                            }
                            else {
                                row = '<div class="card-body shadow classroom-assignemnts-submitted p-2">' +
                           '<h4 class="text-white font-weight-bold p2"><span ><i class="fa fa-check-circle"></i></span> ' + tests[i].test_name + '</h4>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-calendar"></i></span> Added On: ' + tests[i].creation_date + '</h6>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-info-circle"></i></span> No Of questions:' + tests[i].no_of_questions + ' | Test type: ' + tests[i].test_type + '</h6>';
                                row += '<h6 class="ml-4"><span class="badge badge-pill badge-light ml-10" id="successbadge">Status: attempted</span><a class="btn btn-sm btn-outline-light ml-2" href="TestResponse?id=' + tests[i].submission_id + '">View response</a></h6>';
                            }
                            row += '</div>';
                            $("#allClassroomTestContainer").append(row);
                        }

                    } else {
                        $("#footerAllTests").show();
                    }
                }
                $("#spinnerAllTest").remove();

            }
        });
    }
    function viewAllClassroomTestSubmissions() {
        hideAllClssroomDetails();
        $("#navAllClassroomTestSubmissions").show();
        $.ajax({
            headers: { "Authorization": 'Bearer ' + localStorage.getItem('jwttoken') },
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/api/v1/Course/GetAllClassroomTestSubmissions?ClassroomId=@ViewBag.Id",
            success: function (data) {
                if (data != null && data.response_code == 1) {
                    var row = '';
                    var tests = data.test_details;
                    $("#allClassroomTestSubmissionsContainer").empty();
                    if (tests != null && tests.length > 0) {
                        for (var i = 0; i < tests.length; i++) {
                                row = '<div class="card-body shadow classroom-assignemnts-submitted p-2">' +
                           '<h4 class="text-white font-weight-bold p2"><span ><i class="fa fa-check-circle"></i></span> ' + tests[i].test_name + '</h4>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-calendar"></i></span> Submitted On: ' + tests[i].submission_date + '</h6>' +
                           '<h6 class="text-white font-weight-bold ml-4"><span><i class="fa fa-info-circle"></i></span>  Test type: MCQ</h6>';
                                row += '<h6 class="ml-4"><span class="badge badge-pill badge-light ml-10" id="successbadge">Score: ' + tests[i].score + '</span><a class="btn btn-sm btn-outline-light ml-2" href="TestResponse?id=' + tests[i].submission_id + '">View response</a></h6>';
                            row += '</div>';
                            $("#allClassroomTestSubmissionsContainer").append(row);
                        }

                    } else {
                        $("#footerAllTestSubmissions").show();
                    }
                }
                $("#spinnerAllTestSubmissions").remove();

            }
        });
    }
    function getAllClassroomAttachments() {
        hideAllClssroomDetails();
        $("#navClassroomAttachments").show();

        $.ajax({
            headers: { "Authorization": 'Bearer ' + localStorage.getItem('jwttoken') },
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/api/v1/Course/ClassroomAttachments?ClassroomId=@ViewBag.Id",
            success: function (data) {
                debugger;
                var sNo = 0;
                if (data != null && data.response_code == 1 && data.attachments != null && data.attachments.length > 0) {
                    var attachments = data.attachments;
                    $('#tableBodyClassroomAttachments').empty();
                    for (var i = 0; i < attachments.length; i++) {
                        sNo++;
                        var rows = '<tr><td scope="row" ><button type="button" class="btn btn-link font-weight-bold" >' + sNo + '</button></td>'
                        + '<td>' + attachments[i].attachment_name + '</td><td>' + attachments[i].date_of_addition + '</td>'
                          + '<td>'
                            + '<a   class="list-group-horizontal" download="' + attachments[i].attachment_name + '"  href="' + attachments[i].attachment_url + '">'
                                + '<i class="fas fa-download fa-sm fa-fw mr-2 text-gray-600 m-1"></i>'
                            + '</a>'

                        + '</td>'
                        + '</tr>';
                        $('#tableBodyClassroomAttachments').append(rows);
                        $("#spinnerClassroomAttachments").remove();
                        $("#tableClassroomAttachments").show();
                    }
                    $("#tableBodyClassroomAttachments").fadeIn();
                    $('#coursesTable').DataTable();
                }
                else {
                    $("#footerAllStudyMaterials").show();

                }
                $("#spinnerClassroomAttachments").remove();
            }
        });
    }
    function callClassroomMeeting() {
        debugger
        try {
            AndroidInterface.startClassroomMeeting($("#classroomName").val(), classroomMeetingName);
        }
        catch (ex) {

        }
    }

</script>